.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.card-title {
  font-size: 30px;
  font-size: 20px;
}

.weather-forecast-temperature {
  font-size: 32px;
  text-overflow: ellipsis;

  white-space: nowrap;
}

.card-title {
  font-size: 30px;
  font-size: 20px;
  border: none;
}
.icon-forcast .card-img-top {
  width: 100%;
  display: block;
}

.card-body {
  border: none;
}
