
h1 #city-outcome {
  font-weight: 900;
  font-size: 55px;
}

h2 {
  font-size: 20px;
}

img {
  width: 400px;
  display: block;
  margin-left: 70px;
  margin-top: -110px;
}

.input-group {
  width: 98%;
  margin-left: 10px;
  margin-bottom: 50px;
}

input[type="search"],
textarea {
  background-color: rgba(255, 192, 203, 0.1);
}

button {
  text-align: center;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #6a6a82;
}

h4 .current-temperature {
  font-size: 75px;
  color: #6a6a82;
  flex-basis: 50px;
  height: 80px;
  margin: 0px;
}

.temp {
  border: 2px dotted #6a6a82;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  padding-top: 45px;
  margin-top: -70px;
  margin-left: 450px;
}

.element {
  display: flex;
  justify-content: center;
}

.buttonC,
.buttonF {
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 30px;
}

.btn-group-vertical {
  color: #6a6a82;
  flex-basis: 50px;
  height: 80px;
  margin: 0px;
}

ul {
  border: 2px dotted #6a6a82;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  list-style: none;
  padding-top: 55px;
  padding-left: 3px;
  margin-left: 400px;
  margin-top: -120px;
  margin-bottom: 20px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.card {
  text-align: center;
  background: none;
  border: none;
}
.card-title {
  font-size: 30px;
  font-size: 20px;
}

.card-img-top {
  width: 100px;
  background: none;
  display: block;
  margin: 0 auto !important;
}
.weather-forecast-temperature {
  font-size: 32px;
  text-overflow: ellipsis;

  white-space: nowrap;
}