h1 {
  font-weight: 900;
  font-size: 45px !important;
  margin-top: 40px;
}

h2 {
  font-size: 15px !important;
}

h3 {
  font-size: 15px !important;
}

h1,
h2,
h3 {
  text-align: left;
  margin-left: 20px;
}

img {
  left: 40px;
  width: calc(100% - 30%);
  border: 1px solid black;
  display: block;
  margin-top: -30px;
  border: none;
}

.input-group {
  width: 98%;
  margin-left: 10px;
  margin-bottom: 100px;
}

input[type="search"],
textarea {
  background-color: rgba(255, 192, 203, 0.1);
}

button {
  text-align: center;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #6a6a82;
  margin: 0px;
  flex-basis: 50px;
}

p {
  font-size: 55px;
  color: #6a6a82;
  flex-basis: 50px;
  height: 80px;
  margin: 0px;
}

.temp {
  border: 2px dotted #6a6a82;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  padding-top: 20px;
}

ul {
  border: 2px dotted #6a6a82;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  list-style: none;
  padding-top: 55px;
  padding-left: 3px;
  margin-top: -120px !important;
}

.element {
  display: flex;
  justify-content: center;
}

.buttonC,
.buttonF {
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn-group-vertical {
  color: #6a6a82;
  flex-basis: 20px;
  height: 80px;
  margin: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
